{% load static %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Instagram</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
<body>
		<div>
			<div class="col-lg-6 col-lg-offset-3
				col-md-8 col-md-offset-2
				col-sm-10 col-sm-offset-1
				col-xs-12">

					<a href="{% url 'post:post_list' %}"><h1>Instagram</h1></a>
					<p class="text-right">
						{% if user.is_authenticated %}
						{{ user.username }}님, 환영합니다! <a href="{% url 'member:logout' %}" class="btn btn-xs btn-primary">로그아웃</a>
						{% else %}
						<!-- 로그인 안 되어 있을 경우 로그인 화면으로 갈 수 있는 링크 생성 -->
						<a href="{% url 'member:login' %}" class="btn btn-xs btn-primary">로그인</a>
						{% endif %}
					</p>
					<hr>

				{% block content %}
				{% endblock %}
			</div>
		</div>
</body>
</html>