html, body {
    font-size: 11px;
    color: 333;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
form.form-inline {
    display: inline-block;
}
img.img-post {
    width: 100%;
}
.post .panel-heading form {
    display: inline-block;
}
.post .panel-body {
    padding: 0;
    margin: 0;
}
.post .panel-body .body-content {
    padding: 10px;
}
.border-none {
    border: none;
}